@use "sass:math";

@use "breakpoints";

$column-sizes: (
        "full": 1,
        "three-quarters": math.div(4, 3),
        "two-thirds": math.div(3, 2),
        "half": 2,
        "third": 3,
        "quarter": 4,
);

@function column-size($amountPerRow) {
  @return math.div(100%, $amountPerRow);
}

@function global-grid-column-size($amountPerRow) {
  @if ($amountPerRow == 1) {
    @return 100%;
  }

  @return calc(var(--global-grid-column-width) * 12 / #{$amountPerRow});
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gutter) * -1 / 2);
  row-gap: var(--row-gutter);
  --gutter: 2rem;
  --row-gutter: 0;

  &.responsive-gap {
    --row-gutter: 2rem;
  }

  &.center {
    justify-content: center;
  }

  &.middle {
    align-items: center;
  }

  &.top {
    align-items: start;
  }

  &.flush {
    --gutter: 0;
  }

  @each $breakpoint in breakpoints.$breakpoints {
    @include breakpoints.ge($breakpoint) {
      .flush-#{$breakpoint} {
        --gutter: 0;
      }
    }
  }

  > * {
    flex: 0 0 auto;
    max-width: 100%;
    padding: 0 calc(var(--gutter) / 2);
  }

  // locally sized, using percentages
  @each $size, $amountPerRow in $column-sizes {
    .#{$size} {
      width: column-size($amountPerRow);
    }
  }

  @each $breakpoint in breakpoints.$breakpoints {
    @each $size, $amountPerRow in $column-sizes {
      @include breakpoints.ge($breakpoint) {
        .#{$size}-#{$breakpoint} {
          width: column-size($amountPerRow);
        }
      }
    }
  }

  &.global {
    // globally sized, using global grid sizes
    @each $size, $amountPerRow in $column-sizes {
      .#{$size} {
        width: global-grid-column-size($amountPerRow);
      }
    }

    @each $breakpoint in breakpoints.$breakpoints {
      @each $size, $amountPerRow in $column-sizes {
        @include breakpoints.ge($breakpoint) {
          .#{$size}-#{$breakpoint} {
            width: global-grid-column-size($amountPerRow);
          }
        }
      }
    }
  }

  .auto {
    flex: 1 0 0;
  }

  @each $breakpoint in breakpoints.$breakpoints {
    @include breakpoints.ge($breakpoint) {
      .auto-#{$breakpoint} {
        flex: 1 0 0;
      }
    }
  }
}
